.pagination {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;

  .page {
    margin-inline: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    transition: .2s;

    &:hover {
      background-color: #ddd;
      color: black;
    }
  }

  .active {
    background-color: #ddd;
    color: black;
  }

  .button a {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: .2s;

    &:hover {
      background-color: #ddd;
      color: black;
    }
  }
}
