.navbar {
  background-color: #EF5350;
  padding: 20px;
  display: flex;
  height: 5vh;
  justify-content: space-between;

  .image {
    height: 100%;
    width: 90px;
    object-fit: contain;
  }

  .buttonGroup {
    width: 10%;

    .favoriteButton {
      position: relative;
      background-color: transparent;
      border: none;
      cursor: pointer;

      .icon {
        background-color: #dddddd80;
        padding: 5px;
        border-radius: 50%;
        border: none;
        text-align: center;
        width: 20px;
        height: 20px;
        transition: .2s;
        color: #dddddd;
      }

      .totalPokes {
        position: absolute;
        bottom: 0;
        right: 5px;
        background: #dddddd;
        padding: 2px 4px;
        border-radius: 50px;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
};